.contact-links {
  position: absolute;
  top: 70px;
  right: 20px;
  /*background: black;*/
  /*background-color: white;*/
  z-index: 1

}

#github-icon, #linkedin-icon {
  /*margin: 10px 15px;*/

  font-size: 30px;
  z-index: 1;
}

/*#github-icon:hover, #linkedin-icon:hover {
  font-size: 50px;
}*/

#canvas {
    border: 2px solid #000;
    margin: 10px;
    background-image: url(http://cdn.wallpapersafari.com/76/89/CtZcv4.png);

}

.level-up
  {
  font-size: 32px;

  animation:myfirst 40s;
  top: 60px;

  }

  @keyframes myfirst
  {
  0%   {color:red;}
  25%  {color:yellow;}
  50%  {color:blue;}
  100% {color:green;}
  }



#info {
    position: absolute;
    top: 32px; /* (10px top margin + 200px of total height for the #canvas element - 26px of total height for the #info element) / 2 */
    left: 555px; /* (10px left margin + 400px of total width for the #canvas element - 200px of total width for the #info element / 2 */

    text-align: center;
    font: 23px 'Bellefair', serif;
    color: #fff;



    width: 290px;
    height: 26px;

    animation: myfirst 120s;
    /*animation-iteration-count: infinite;*/

}

@keyframes myfirst
{
0%   {color:red;}
3%  {color:yellow;}
6%  {color:blue;}
9% {color:green;}
12%   {color:#8568ED;}
15%  {color:#EBEB2C;}
18%  {color:#1019B8;}
21% {color:#5F854E;}
24%   {color:#ED706B;}
27%  {color:#94898C;}
30%  {color:#730A59;}
33% {color:#A8A013;}
36%   {color:red;}
39%  {color:yellow;}
42%  {color:blue;}
45% {color:green;}
48%   {color:#8568ED;}
51%  {color:#EBEB2C;}
54%  {color:#1019B8;}
57% {color:#5F854E;}
60%   {color:#ED706B;}
63%  {color:#94898C;}
66%  {color:#730A59;}
69% {color:#A8A013;}
72%   {color:red;}
75%  {color:yellow;}
78%  {color:blue;}
81% {color:green;}
84%   {color:#8568ED;}
87%  {color:#EBEB2C;}
90%  {color:#1019B8;}
93% {color:#5F854E;}
96%   {color:#ED706B;}
99%  {color:#94898C;}


}
#game-over {
  top: 132px; /* (10px top margin + 200px of total height for the #canvas element - 26px of total height for the #info element) / 2 */
  left: 555px; /* (10px left margin + 400px of total width for the #canvas element - 200px of total width for the #info element / 2 */
    margin-top: 50px;
  text-align: center;
  font: 43px 'Bellefair', serif;
  color: #fff;



  width: 450px;
  height: 126px;
}

/* Some styling for the title screen */
span.red {
    color: #EE4634;


}
span.green {
    color: #05B834;

}
span.blue {
    color: #165DB8;
}
span.red, span.green, span.blue {
    font-weight: bold;
    font-size: 34px;
    font-family: 'Bellefair', serif;

    display: flex;
    align-items: center;


}
